@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafafa;
  --foreground: #151515;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'PP Neue Montreal', sans-serif;
  overflow-x: hidden;
}

.swiper-wrapper {
  display: flex;
  gap: 16px;
  .swiper-slide-next {
    box-shadow: 0px 4px 4px 0px #00000040;
  }
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}
